:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Open Sans", serif;
  line-height: 150%;
  color: var(--text-secondary);

  --background-default: #f5f4f0;
  --border-primary: #d9d9d9;
  --text-primary: #1b1b1b;
  --text-secondary: #333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;
  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}

body {
  background-color: var(--background-default);
}

#page {
  width: 1120px;
  margin: 88px auto 0;
}

.headline {
  color: var(--text-headline);
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

h1,
h2 {
  color: var(--text-primary);
  font-weight: 700;
  line-height: 150%;
  margin: 0;
}

h1 {
  font-size: 32px;
  padding-top: 8px;
}

h2 {
  font-size: 28px;
  padding: 20px 0 4px;
}

.headline + h2 {
  padding: 2px 0 8px;
}

section img {
  border-radius: 28px;
  width: 100%;
}

#description-image {
  margin: 40px 0;
}

#description-image p {
  font-style: italic;
  text-align: center;
  padding-top: 24px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 40px 0;
  background-color: var(--border-primary);
}

#content-intro {
  padding: 24px 0 64px;
}

section + section {
  padding: 48px 0 0;
}

p {
  margin: 0;
}

p + p,
ul li {
  font-weight: bold;
}

p + p {
  margin-top: 16px;
}

ul {
  margin: 0;
  padding-left: 24px;
}

ul li::marker {
  color: var(--text-secondary);
}

.history {
  color: var(--accent-blue);
}

.couple {
  color: var(--accent-purple);
}

.family {
  color: var(--accent-pink);
}

.budget {
  color: var(--accent-orange);
}

.divider + p {
  padding-top: 0;
  text-align: center;
}

footer {
  text-align: center;
  padding: 65px 0 48px;
}

footer img {
  vertical-align: middle;
}
