:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Open Sans", serif;

  --background-default: #f5f4f0;
  --border-primary: #d9d9d9;
  --text-primary: #1b1b1b;
  --text-secondary: #333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;
  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}

body {
  background-color: var(--background-default);
}

#page {
  width: 1120px;
  margin: 88px auto 65px;
}

.headline {
  color: var(--text-headline);
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  color: var(--text-primary);
  font-size: 32px;
  font-weight: 700;
  padding-top: 8px;
}

#description-image {
  margin: 40px 0;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 40px 0;
  background-color: var(--border-primary);
}
